<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>

    type in the name of the pokemon you want to learn about :) <br>
    <form action="/poke" method="post">

        <input type="text" name="pokemon_query" id="pokemon_query">
        <br>
        <button type="submit">SUBMIT</button>

    </form>
</body>
</html>